---
import Habilities from './index.astro';
---

<Habilities>
	<h1>Express</h1>
	<br />
	<p>
		I started programming with js using Node vanilla and fell in love with the
		backend at first.
	</p>
	<p>Lately I have studied about security using JWT and OAuth</p>
</Habilities>
