---
import Layout from '../../layout/Layout.astro';
---

<Layout title="Habilities">
	<main class="habilities">
		<h1 transition:name="title">It is my stack!</h1>
		<slot transition:animate="slide" />
	</main>
</Layout>
