---
import Habilities from './index.astro';
---

<Habilities>
	<h1>Python</h1>
	<br />
	<p>
		It is the first lenguage who I learn, I worked with Flask to make a single
		page. I made a few personal projects with that.
	</p>
</Habilities>
