---
import Habilities from './index.astro';
---

<Habilities>
	<h1>React</h1>
	<br />
	<p>
		It is my main framework, I like program on React I have been building
		applications with this framework for more than a year.
	</p>
	<p>
		Lately I have been applying new ways of programming, using new strategies
		and design patterns.
	</p>
	<p>
		One of the firs app created with this framework was a page to a litle
		personal company of construction.
	</p>
</Habilities>
