---
import Habilities from './index.astro';
---

<Habilities>
	<h1>Typescript</h1>
	<br />
	<p>I have enough knowledge to handle this language.</p>
	<p>Although it is not my strong point, I am creating new projects using it</p>
</Habilities>
