---
import Habilities from './index.astro';
---

<Habilities>
	<h1>Vue</h1>
	<br />
	<p>
		I have worked with both types of API although I prefer and use the Options
		API better.
	</p>
</Habilities>
