---
import Layout from '../layout/Layout.astro';
---

<Layout title="About">
	<main class="about">
		<section class="about__info-area">
			<h1 transition:name="title">Who am I?</h1>
			<br />
			<p>
				Let me introduce myself I'm a developer from Chile who love the
				tecnology. I started learning python as hobby and now I'm a program
				lover, working on JavaScrip, TypeScript, Python and others. Allways
				learning and testing new technologies.
			</p>
			<br />
			<p>
				I love challenges and creating new things. If you want an interactive,
				user-friendly page with good accessibility for anyone, I am the right
				person.
			</p>
		</section>
		<figure class="about__img-container" transition:name="image">
			<img
				class="about__img-container__img"
				src="https://concepto.de/wp-content/uploads/2014/08/programacion-2-e1551291144973.jpg"
				alt="programer"
			/>
		</figure>
	</main>
</Layout>
